
:root{
    --primary-text-color: #212121;
    --secondary-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background: var(--primary-white-color);
    font-weight: 500;
    letter-spacing: 0.03em;
}

.links{
    text-decoration: none;
    color: var(--primary-text-color);
}

.logo-webstudio{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.nav-menu{
    font-size: 14px;
    line-height: 1.1;
}

.nav-menu:hover, .nav-menu:focus{
    color: var(--accent-color);
}

.button{
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;
}

.button:hover, .button:focus{
    background: var(--accent-color);
    color: var(--primary-white-color);
}

.nameof-projects{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;   
    letter-spacing: 0.06em;
}

.typeof-project{
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
}

.connect-us{
    color: var(--secondary-color);
}

.connect-us:hover, .connect-us:focus{
    color: var(--primary-white-color);
}

.email-ws, .phonenum-ws{
    font-size: 14px;
    line-height: 1.1;
    color: var(--secondary-color);
    letter-spacing: 0.02em;
}

.contacts-footer{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
}