button:hover{
    background: #2196F3;
}

button .all{
    height: 16px;
    width: 13.33331298828125px;
    left: 1.3333740234375px;
    top: 0px;
    border-radius: 0px;
}

button .web-sites{
    height: 38px;
    width: 128px;
    left: 576px;
    top: 174px;
    border-radius: 4px;
}
button .all{
    height: 38px;
    width: 145px;
    left: 712px;
    top: 174px;
    border-radius: 4px;
}
button .design{
    height: 38px;
    width: 103px;
    left: 865px;
    top: 174px;
    border-radius: 4px;
}
button .marketing{
    height: 38px;
    width: 130px;
    left: 976px;
    top: 174px;
    border-radius: 4px;
}

h2{
height: 36px;
width: 322px;
left: 239px;
top: 576px;
border-radius: nullpx;
color: #212121;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
}

p{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #757575;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}