body{
    font-family: 'Roboto', sans-serif;
    color: #212121;
    font-weight: 500;
}
.nav-menu{
    text-decoration: none;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.02em;
    color: #212121;
}
.nav-menu:hover, .nav-menu:focus{
    color: #2196F3;

}
.phonenum-ws, .email-ws{
    line-height: 1;
    font-size: 14px;
}
.connect-us{
    color: #757575;
    text-decoration: none;
    letter-spacing: 0.03em;
}
.contacts-footer:hover, .contacts-footer:focus{
    color:#FFFFFF;
}

button{
    height: 38px;
    background: #F5F4FA;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover,
button:focus{
    background: #2196F3;
    color: #FFFFFF;
    font-size: 16px;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}



.nameof-projects{
letter-spacing: 0.06em;
line-height: 2;
}

p{

    font-size: 16px;
    font-weight: 400;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: #757575;

}